
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductEdit</title>
</head>
<body>
    <div>
        <input id="btCancel" type="button" value="🡄" />
        <input id="btSave" type="button" value="💾" />
        <table class="table table-bordered table-responsive table-hover">
            <tr><td>Description:</td><td><input id="tbDescription" type="text" /></td></tr>
            <tr><td>Code:</td><td><input id="tbCode" type="text" /></td></tr>
            <tr><td>Type:</td><td><input id="tbType" type="text" /></td></tr>
            <tr><td>Amount:</td><td><input id="tbAmount" type="text" /></td></tr>
            <tr><td>Price:</td><td><input id="tbPrice" type="text" /></td></tr>
        </table>
    </div>
</body>
</html>
